@{
    ViewData["Title"] = "Landing";
}

<style>
    body {
        background-image: url("https://fastly.picsum.photos/id/9/5000/3269.jpg?hmac=cZKbaLeduq7rNB8X-bigYO8bvPIWtT-mh8GRXtU3vPc");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>


<br />
<br />

<div class="text-center text-white">
    <h1 class="display-4 text-white">Hello!</h1>
    <h1 class="display-4 text-white">Task manager for me and my Team</h1>
    <h3>Empower Your Team to Achieve More with Our Advanced Task Manager Solution</h3>
    </div>

