@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello!</h1>
    <h1 class="display-4">Task manager for me and my Team</h1>
    <h3>Empower Your Team to Achieve More with Our Advanced Task Manager Solution</h3>
    <p>Park nnone</p>
</div>
