@model To_Do_App.Models.TaskToDo

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Make sure you are deleting Completed task?</h3>
<div>
    <h4>TaskToDo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Task)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Task)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
      
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="remove-line" asp-action="Index">Back to List</a>
    </form>
</div>
