html {
  font-size: 12px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.text-center{
   
}
.remove-line {
    text-decoration: none;
    margin: 20px;
}
.editPara{
    font-size: medium;
}
.container{
    color :rebeccapurple;
}